<!DOCTYPE html>
<html>
<head>
    <title>Scroll Cage - Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
    <h2>Login</h2>

    <form method="POST" action="{{ url_for('login') }}">
        <label>Username:</label><br>
        <input type="text" name="username" required><br><br>

        <label>Password:</label><br>
        <input type="password" name="password" required><br><br>

        <button type="submit">Login</button>
    </form>

    <p>New user? <a href="{{ url_for('register') }}">Sign Up</a></p>
</body>
</html>
